{% extends 'minky/minks.html' %}

 {% block cartoons %}
     Возможно вам подойдут:
     <div class="border border-primary" role='status'>
        {% if last_minks %}
            {% for obj in last_minks %}
                {% if obj.img.url %}
                    <img class="rounded-lg" src="{{ obj.img.url }}"  width="200" >
                {% endif %}
            {% endfor %}
            <span class="sr-only"> Loading </span>
        {% else %}
            У нас не нашлось картинки для вашего персонажа, <br>
            но вот вам мое фото: <br>
                <img src = "../../../../media/kamil.png" width="150">
        {% endif %}
     </div>
{% endblock %}
