{% extends "base.html" %}

{% block content %}
    <div>
    <h1 align="center"><span class="badge badge-dark"> Choice Your Hero ! </span></h1>


    <form method='GET' action="">

        {{ form.as_p }}

        <input class="btn btn-outline-dark" type="submit" name="find" value="Find">

        <input class="btn btn-outline-dark" type="submit" name="cancel" value="Cancel">
    </form>

    <div>
        {% block cartoons %}
        {% endblock %}
    </div>
    <br>
    <div>
        Загрузить свою картинку:
        <a href="{% url 'upload' %}" class="btn btn-dark"> Upload image</a>
    </div>
    <br>
    </div>
{% endblock %}
