{% extends "base.html" %}

{% block content %}
    <div class="container">
    <h1 align="center"><span class="badge badge-primary"> Choice Your Hero ! </span></h1>

    <form method='GET' action="">

        {{ form.as_p }}

        <input class="btn btn-outline-dark" type="submit" name="find" value="Find">

        <input class="btn btn-outline-dark" type="submit" name="cancel" value="Cancel">
    </form>

    <div>
        {% block cartoons %}
        {% endblock %}
    </div>
    </div>
{% endblock %}
