{% extends 'base.html' %}


{% block content %}
    <div class="container">
        <div align="center" class="custom-style"></div>
        <h1> Вы хотите начать играть в НРИ ? </h1>
        <br>
        <h2> Quick start for D&D 5e:</h2>

    Вы уже нашли себе друзей, а также человека который будет водить вас по бескрайним просторам
    Forgotten Realms. А может вы сами
    <a href="https://dungeonsanddragons.ru/5e-dungeon-masters-guide-%D1%80%D1%83%D0%BA%D0%BE%D0%B2%D0%BE%D0%B4%D1%81%D1%82%D0%B2%D0%BE-%D0%BC%D0%B0%D1%81%D1%82%D0%B5%D1%80%D0%B0/">
        являетесь им
    </a>.
        <br>
        <br>
        <h5>Что ж это быстрый гайд как собрать своего первого персонажа.</h5>

    В первую очередь тебе стоит скачать лист персонажа который ты будешь заполнять:
    <a href="https://cs10.pikabu.ru/post_img/big/2019/09/17/6/1568712669140959209.png">листик</a>

    <br>
    <br>
        <div>Чтобы ты не читал все 300 страниц руководства, давай я тебе помогу </div>

    Выбери инетересную для тебя рассу и класс:
    <form method="get" action="">
        {{ form.as_p }}

        {% if race_href %}
            Можешь почитать об этом классе
            <a href="{{ race_href }}"> тут </a><br>
            <br>
        {% endif %}

        {% if cls_href %}
           Можешь почитать об этой рассе
            <a href="{{ cls_href }}"> тут </a><br>
            <br>
        {% endif %}

        <input type="submit" value="Показать">
    </form>
    <div>
     Перепиши на 3 лист своего листа персонажа все заклинания в соответствии со своим классом.
        <a href="https://dungeon.su/spells/class/"> Вот</a>
        здоровый список всех заклинаний и дополнений.
    </div>
    <div> Осталось самое веселое, давай побросаем кубики ! <br>
        1. Возьми 4 шестигранных кубика и брось их, убрав один кубик с наименьшим значением.<br>
        2 .Запомни, а лучше запиши эти значения ! <br>
        3 .Повтори эти действия 6 раз.
        <br> Если у тебя не нашлось кубиков можешь воспользоваться
        <a href="https://online-generators.ru/dice">вот этим сервисом</a> <br>
        Раставь эти цифры в ячейки характеристик, это длинный столбец на первом листе.<br>
        Выбирай мудро, думая какими качествами обладает твой персонаж ;) <br>
    </div>
    <div>Вот мы почти и закончили осталось посчитать модификаторы характеристик и ты готов лететь в бой.
    Только не забудь выбрать имя своему персонажу )<br>
    Модификаторы считаются по вот такой формуле:<br>
    (Значение характеристики - 10) div 2 <br>
    округляя в меньшую сторону.</div>

    <div> Ты можешь воспользоваться
        <a href="/index">нашей библиотекой</a> аватарок чтобы сделать себе супер классную миниатюрку !</div>
</div>
{% endblock %}

